/* Table Of Content*/
/*
1.Section Navbar
2.SectionCarousel
3.Section Blog
4.Detail room
5.Section Footer
6.Section Page-title
*/

/*1.Section Navbar*/
.bg-nav{
    background: rgba(0, 0, 0, 0.7);
}

html, body{
    height: 100%;
}

@media (max-width: 480px){
    .navbar-brand{
        font-size: 0.8rem;
        line-height: 2rem;
    }
}


/*2.SectionCarousel*/
.carousel,
.carousel-inner,
.carousel-item .active,
.carousel-item{
    height: 100%;
}

.carousel-img{
    height: 100%;
    width: 100%;   
    background-size: cover;
    background-position: center;
}

.carousel-caption{
    top: 70%;
}

.backscreen{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.border-short-bottom{
    position: relative;
    padding: 20px;
    margin-bottom: 25px;
}

.border-short-bottom::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background: #f11414;
}

/*3.Section Blog*/
.warper{
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

.warper img{
    position: absolute;
    top: 0;
    transition: 2s;
}

.warper img:hover{
    transform: scale(1.1);
}

.btn-group-custom button{
    margin-bottom: 0.5rem;
    width: 160px;
    height: 50px;
    

}

.blog-image{
    padding: 200px 0px 120px; 
    text-align: center;
    color: #ffffff;

}
.sidebar .sidebar-menu .active .treeview-menu {
    display: block;
}
.blog-content{
    padding: 50px 100px;
    box-shadow: 0px 0px 10px #000;
} 

.owl-carousel .card-body{
    height: 150px;
    overflow: hidden;
}

/*4.Detail room*/
@media (max-width: 991px){
    .blog-content{
        padding: 40px 50px;
    } 
}

@media (max-width: 768px){
    .blog-content{
        padding: 20px 15px;
    } 
}


/*5.Section Footer*/
.decorate-footer{
    background:#3b3b3b ;
    color:#ffffff;
}

.decorate-footer a{
    color:#ffffff;
}

.decorate-footer li.active > a{
    color:#fff
}


.decorate-footer h4{
    color: #2631d9 ;
    border-bottom: 1px solid ;
    padding: 10px 0;
}

.footer{
    background: #0c020c;
    color:#ffffff;
    font-size: 0.8rem;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

.mapouter{
    position:relative;
    text-align:center;
    height:500px;
    width:600px;
}

.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}

/*6.Section Page-title*/
.page-title{
    position: relative;
    display: block;
    padding-top: 250px;
    padding-bottom: 100px;
    color:#ffff;
    text-align: left;
    background: rgba(0, 0, 0, 1);
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

/*button hover*/

/* button:focus{
    outline: none;
}

button:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
}

button:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scale(-150deg);
}

button:hover{
    background: #338033;
    cursor: pointer;
}

button:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

button:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
} */